<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <h1>view registration</h1>
    <table border="2">
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Phone</td>
            <td>Age</td>
        </tr>
        {% for j in data %}
        <tr>
            <td>{{j.name}}</td>
            <td>{{j.email}}</td>
            <td>{{j.phone}}</td>
            <td>{{j.age}}</td>
            <td>
                <a href="{% url 'update' pk=j.id %}">update</a>
            </td>
            <td>
                <a href="{% url 'delete' pk=j.id %}">delete</a>

            </td>
        
        </tr>
        {% endfor %}
    </table>
</center>
</body>
</html>